.corpo, .sectionSobre{width: 100%; float: left;}
.divTextos{width: 40%; float: left; margin-left: 30%; background-color: #777;}
.divSobre p, .divSobre b{width: 70%; float: center; margin-left: 15%; margin-top: 2%; text-align: justify;}
.divSobre{ margin-top: 5%;}
 
 
 